# QUESTION NO 7

In [24]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"C:\Users\VAISHANVI\Desktop\Anaconda\Q7.csv")
data.head(5)

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [5]:
from statistics import mean,median,mode

# mean

In [6]:
# mean of points
mean([3.9,3.9,3.85,3.08,3.15,2.76,3.21,3.69,3.92,3.92,3.92,3.07,3.07,3.07,2.93,3,3.23,4.08,4.93,4.22,3.7,2.76,3.15,3.73,3.08,4.08,4.43,3.77,4.22,3.62,3.54,4.11,])

3.5965625

In [7]:
#mean of score
mean([2.62,2.875,2.32,3.215,3.44,3.46,3.57,3.19,3.15,3.44,3.44,4.07,3.73,3.78,5.25,5.424,5.345,2.2,1.615,1.835,2.465,3.52,3.435,3.84,3.845,1.935,2.14,1.513,3.17,2.77,3.57,2.78])

3.21725

In [8]:
#mean of weigh
mean([16.46,17.02,18.61,19.44,17.02,20.22,15.84,20,22.9,18.3,18.9,17.4,17.6,18,17.98,17.82,17.42,19.47,18.52,19.9,20.01,16.87,17.3,15.41,17.05,18.9,16.7,16.9,14.5,15.5,14.6,18.6])

17.84875

# mode

In [9]:
#mode of opoint
mode([3.9,3.9,3.85,3.08,3.15,2.76,3.21,3.69,3.92,3.92,3.92,3.07,3.07,3.07,2.93,3,3.23,4.08,4.93,4.22,3.7,2.76,3.15,3.73,3.08,4.08,4.43,3.77,4.22,3.62,3.54,4.11,])

3.92

In [10]:
#mode of score
mode([2.62,2.875,2.32,3.215,3.44,3.46,3.57,3.19,3.15,3.44,3.44,4.07,3.73,3.78,5.25,5.424,5.345,2.2,1.615,1.835,2.465,3.52,3.435,3.84,3.845,1.935,2.14,1.513,3.17,2.77,3.57,2.78])

3.44

In [11]:
#mode of weigh
mode([16.46,17.02,18.61,19.44,17.02,20.22,15.84,20,22.9,18.3,18.9,17.4,17.6,18,17.98,17.82,17.42,19.47,18.52,19.9,20.01,16.87,17.3,15.41,17.05,18.9,16.7,16.9,14.5,15.5,14.6,18.6])

17.02

# variance

In [14]:
import statistics

In [15]:
#varience of points
points = [3.9,3.9,3.85,3.08,3.15,2.76,3.21,3.69,3.92,3.92,3.92,3.07,3.07,3.07,2.93,3,3.23,4.08,4.93,4.22,3.7,2.76,3.15,3.73,3.08,4.08,4.43,3.77,4.22,3.62,3.54,4.11,]
print("varience of points set is % s"
     %(statistics.variance(points)))

varience of points set is 0.2858813508064516

In [16]:
#varience of score
score=[2.62,2.875,2.32,3.215,3.44,3.46,3.57,3.19,3.15,3.44,3.44,4.07,3.73,3.78,5.25,5.424,5.345,2.2,1.615,1.835,2.465,3.52,3.435,3.84,3.845,1.935,2.14,1.513,3.17,2.77,3.57,2.78]
print("varience ofscore set is % s"
     %(statistics.variance(points)))

varience ofscore set is 0.2858813508064516

# Range

In [17]:
#varience of weight
weight=[16.46,17.02,18.61,19.44,17.02,20.22,15.84,20,22.9,18.3,18.9,17.4,17.6,18,17.98,17.82,17.42,19.47,18.52,19.9,20.01,16.87,17.3,15.41,17.05,18.9,16.7,16.9,14.5,15.5,14.6,18.6]
print("varience of weight set is % s"
     %(statistics.variance(points)))

varience of weight set is 0.2858813508064516

In [21]:
#range of score
range = max(score)
range1 = min(score)
print(range1,range)

1.513 5.424

In [22]:
#range of weight
range = max(weight)
range1 = min(weight)
print(range1,range)

14.5 22.9

In [23]:
#range of points
range = max(points)
range1 = min(points)
print(range1,range)

2.76 4.93

# QUESTION NO 9 (a)

In [30]:
import numpy as np
import pandas as pd
data=pd.read_csv(R"C:\Users\VAISHANVI\Desktop\Anaconda\Q9_a.csv")
data

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

# skewness & kurtosis

In [35]:
# Skewness
data.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [34]:
# kurtosis
data.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

# QUESTION NO 9 (b)

In [36]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"C:\Users\VAISHANVI\Desktop\Anaconda\Q9_b.csv")
data

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

# skewness & kurtosis

In [37]:
# Skewness
data.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [38]:
# kurtosis
data.kurt()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

# QUESTION NO 12

In [58]:
data=pd.Series([34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56])
data

0     34
1     36
2     36
3     38
4     38
5     39
6     39
7     40
8     40
9     41
10    41
11    41
12    41
13    42
14    42
15    45
16    49
17    56
dtype: int64

In [61]:
data.describe()

count    18.000000
mean     41.000000
std       5.052664
min      34.000000
25%      38.250000
50%      40.500000
75%      41.750000
max      56.000000
dtype: float64

In [64]:
print("varience of dataset is % s"
     %(statistics.variance(data)))

varience of dataset is 25.529411764705884

# QUESTION NO 20

In [67]:
Q20=pd.read_csv(r"C:\Users\VAISHANVI\Downloads\Cars.csv")
Q20

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [78]:
from scipy import stats
prob_MPG_is_greater_than_38 = np.round( 1- stats.norm.cdf(38,loc= Q20.MPG.mean(), scale= Q20.MPG.std()),3)
print('P(MPG>38)=',prob_MPG_is_greater_than_38)

P(MPG>38)= 0.348

In [79]:
prob_MPG_is_less_than_40 = np.round(stats.norm.cdf(40,loc= Q20.MPG.mean(), scale= Q20.MPG.std()),3)
print('P(MPG<40)=',prob_MPG_is_less_than_40)

P(MPG<40)= 0.729

In [80]:
prob_MPG_is_less_than_50 = np.round( stats.norm.cdf(50,loc= Q20.MPG.mean(), scale= Q20.MPG.std()),3)
print('P(MPG<50)=',prob_MPG_is_less_than_50)

P(MPG<50)= 0.956

In [82]:
prob_MPG_is_greater_than_20 = np.round(1- stats.norm.cdf(20,loc= Q20.MPG.mean(), scale= Q20.MPG.std()),3)
print('P(MPG>20)=',prob_MPG_is_greater_than_20)

P(MPG>20)= 0.943

In [83]:
prob_MPG_is_greater_than_20_and_less_than_50=(prob_MPG_is_less_than_50)-(prob_MPG_is_greater_than_20)
print('20<P(MPG>50)=',prob_MPG_is_greater_than_20_and_less_than_50)

20<P(MPG>50)= 0.013000000000000012

# QUESTION NO 22

In [85]:
#Z value for 90% confidence interval
print('Z score for 90% confidence Interval =',np.round(stats.norm.ppf(0.05),4))

Z score for 90% confidence Interval = -1.6449

In [86]:
#Z value for 94% confidence interval
print('Z score for 94% confidence Interval =',np.round(stats.norm.ppf(0.03),4))

Z score for 94% confidence Interval = -1.8808

In [87]:
#Z value for 60% confidence interval
print('Z score for 60% confidence Interval =',np.round(stats.norm.ppf(0.2),4))

Z score for 60% confidence Interval = -0.8416

# QUESTION NO 23

In [91]:
 # t score for 95% confidence Interval
print('T score for 95% confidence Interval =',np.round(stats.t.ppf(0.025,df=24),4))

T score for 95% confidence Interval = -2.0639

In [92]:
 # t score for 94% confidence Interval
print('T score for 94% confidence Interval =',np.round(stats.t.ppf(0.03,df=24),4))

T score for 94% confidence Interval = -1.974

In [93]:
 # t score for 99% confidence Interval
print('T score for 99% confidence Interval =',np.round(stats.t.ppf(0.005,df=24),4))

T score for 99% confidence Interval = -2.7969

# QUESTION NO 24

In [94]:
X= 260
Y= 270
t_value = (260-270)/(90/np.sqrt(18))
t_value

-0.4714045207910317

In [95]:
1-stats.t.cdf(abs(t_value),df = 18)

0.32150760022686575